!!!
html
  head
    title= title
    // link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/qunit/git/qunit.css')
    script(src='http://code.jquery.com/jquery-latest.js')
    script(src='http://code.jquery.com/qunit/git/qunit.js')
    script(src='/javascripts/qunit-basic.js')
  body!= body